.container { 
    max-width: 980px;
    margin: auto
}
header {
    background: linear-gradient(#d5d5d5, #fff, #fff, #fff, #fff);
    text-align: center;
    padding: 37px 0 24px 0
}
#logo img { width: 26% }
menu { padding: 20px 0 0 0;}
menu li {
    font: .7em Tahoma;
    color: #b7b7b7;
    padding: 0 10px 7px 10px;
}
menu li a {
    display: block;
    font: bold .9rem Georgia;
    text-transform: uppercase;
    color: #666;
}
main {
    height: 1280px;
    background: #fff url('../img/mainbg.jpg') repeat-x;
    padding: 20px 0 0 0;
}
#slider {
    height: 340px;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    background: url('../img/slide1.jpg') center/cover;
}
footer {
    height: 183px;
    background: #333;
    border-top: 10px solid #4c4c4c;
}

@media only screen and (min-width: 768px) {
    header { text-align: initial }
    menu { float: right }
    menu li { 
        display: inline-block;
        border-left: 1px dotted #d6d6d6;
    }
}