h1 {
  color: red;
  text-align: center;
  margin-top: 15px;
}

.region-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.region-btn {
  background: none;
  border: none;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 10px 12px;
  cursor: pointer;
}

.cards {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;

  .card {
    border: 2px solid #000;
    width: 300px;
    height: 280px;

    img {
      width: 80%;
      height: 150px;
      margin-top: 20px;
    }
  }
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;

  .detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    img {
      margin: auto;
      width: 300px;
      height: 200px;
    }

    .borders {
      display: flex;

      .border {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
