*{
    font-family: Arial, Helvetica, sans-serif;
}

iframe{
    width: 100%;
    height: 70%;
    border: 0;
}

table{
    margin: auto;
}

td{
    padding: 7px;
}

a{
    text-decoration: none;
    margin-right: 10px;
}
