@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#container {
  width: 100%;
  height: 100vh;
  background-image: url("img/bg10.jpg");
}

.logo {
  float: left;
  margin: 10px 0 0 20px;
}

.menus {
  margin: 15px 0 0 200px;
  display: inline-block;
}
.menus li {
  display: inline-block;
}

.menus li a {
  color: white;
  margin-right: 15px;
  font-family: "Poppins", sans-serif;
}

.icons {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

.icons i {
  margin-right: 10px;
  color: white;
}

.hero {
  text-align: center;
  margin-top: 200px;
  /* background-color: yellow; */
}

.hero h2 {
  color: white;
  font-family: "Alan Sans", sans-serif;
}

.hero h1 {
  margin: 20px 0 20px 0;
  color: white;
  font-size: 5em;
}

.hero a {
  color: red;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 100;
  transition: 0.3s;
}

.hero a:hover {
  background-color: red;
  color: #fff;
}

#second {
  background-image: url("img/booking-01.jpg.webp");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
