.cards {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.card {
  width: 300px;
  height: 400px;
  border: 2px solid gray;
  border-radius: 5px;

  img {
    width: 100%;
    height: 60%;
    border-radius: 5px 5px 0 0;
  }

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }
}

.btn {
  background: none;
  border: none;
  border: 2px solid olivedrab;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
