* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#container {
  width: 100%;
}

#container nav {
  padding: 30px;
  background-color: aliceblue;
}

#container nav menu li {
  display: inline-block;
  margin-right: 20px;
}

#container nav menu li a {
  color: black;
}
#container nav menu div {
  float: right;
}

#container #boxes {
  background-color: rgb(41, 96, 214);
  padding: 40px;
}

#container #boxes .box {
  display: inline-block;
  width: 300px;
  border-radius: 5px;
  background-color: white;
}

#container #boxes .box img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

#container #boxes .box h2 {
  font: 600 1.5em Arial, sans-serif;
  margin: 20px 0 0 15px;
}

#container #boxes .box p {
  line-height: 1.3;
  margin: 15px 0 15px 15px;
}

#container #boxes .box a {
  margin: 0 0 15px 15px;
  background-color: cornflowerblue;
  color: white;
  padding: 15px 40px 15px 40px;
  display: inline-block;
  border-radius: 10px;
}

.box2 {
  margin: 0 100px 0 100px;
}
