.basket{
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 20px;
    padding: 0 20px 0 0;
    height: 130px;
    position: relative;

    .count{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .plusMinus{
        background: none;
        border: none;
        width: 30px;
        height: 30px;
        border: 2px solid green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 800;  
        cursor: pointer; 
    }

    .image{
        width: 400px;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .delete{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}