p{
    background-color: rgb(0, 51, 255);
    color: white;
    padding: 20px 0;
}

.btn{
    width: 120px;
    display: inline-block;
    padding: 16px 20px;
    background-color: red;
    text-align: center;
    border-radius: 10px;
}

.btn2{
    background-color: green;
    color: red;
}

#txt{
    text-transform: uppercase;
    background-color: blueviolet;
}

.text{
    background-color: brown;
}

p{
    background-color: aqua;
}