header{
  padding: 20px;
  box-shadow: 0 0 10px #000;
  nav{
    display: flex;
    justify-content: space-between;

    menu{
      display: flex;
      gap: 20px;
    }
  }
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  gap: 10px;

  .card{
    text-align: center;
    width: 400px;
    height: 400px;
    border: 1px solid #000;

    img{
      width: 100%;
      height: 60%;
      object-fit: cover;
    }
  }
}

