nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background-color: crimson;
}

nav ul {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #000;
}
footer {
  padding: 30px;
  text-align: center;
  background-color: chocolate;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0;
}

.card {
  padding: 10px;
  border: 2px solid pink;
  border-radius: 6px;
  width: 250px;
  /* height: 100px; */
}
.image {
  background-color: darkgoldenrod;
  width: 100%;
  height: 100px;
}