* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#heading {
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.card {
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  float: left;
  margin: 20px 20px 0 20px;
}

.card:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 10px red;
}

.card h2 {
  margin: 80px 0 20px 0;
}

.card p {
  line-height: 1.3;
}

.card a {
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.3s;
  border: 2px solid transparent;
}

.card a:hover {
  background-color: white;
  color: blueviolet;
  border: 2px solid blue;
}
