* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
#container {
  background-color: yellow;
}
header {
  background: orange;
  padding: 30px;
}
header h1 {
  font: bold 2em Arial, sans-serif;
  color: white;
  text-align: center;
}
main {
  background: white;
  padding: 20px 30px;
}
main img { width: 100%;}
main h2 {
  font: 600 2em Arial, Helvetica, sans-serif;
}

main p {
  text-align: justify;
  text-indent: 15px;
  font: normal 1em/1.5 Arial,sans-serif;
}

menu{
  list-style: none;
  padding: 0;
  text-align: center;
}

menu li{
  display: inline-block;
}

menu li a{
  text-decoration: none;
  font:bold 1em Arial, sans-serif;
  color: #fff;
  background: orange;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 0;
}
footer {
  padding: 15px;
  background: red;
  font: normal .8em Arial, sans-serif;
  text-align: center;
  color: #fff;
}

/* DESKTOP VERSION */
@media only screen and (min-width: 768px) {
  body {
    background: aqua;
  }
  #container {
    max-width: 1000px;
    margin: auto;
  }
  nav {
    width: 25%;
    float: left;
  }
  menu li, menu li a {width: 100%;}
  main {
    width: 75%;
    float: left;
    min-height: 500px;
  }
  main img{
    width: 400px;
    float: right;
    margin: 0 0 10px 20px;
  }
  footer{clear: both;}
}
